.button {
  background-color: #4caf50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.button:hover {
  background-color: #3e8e41;
}
.item {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
